# Dependencies
node_modules/

# Build outputs
dist/
build/
*.local

# Environment files (DO NOT commit)
.env
.env.*
!.env.example
env.local

# Logs & OS
*.log
npm-debug.log*
.DS_Store

# Editor
.vscode/
.idea/

# Vite
vite.config.ts.timestamp-*
